body {
font-family:arial, helvetica; font-size:16px;
}
#main-header {
width:100%;
min-height:50px;
text-align:center;
}

#main-header .options {
float:right;
}

#main-title {
font-size:40px;
}

.title {
/*margin:0 auto;
width:50px;*/
}

#main-header .options span {
margin:0 4px;
}

#main-content {
/*
float:left;
 */
width:70%; 
margin:0 auto;
}

.username {
font-weight:bold;
}
